
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template:
    'header'80vh
    'main'auto
    'experience'auto
    'footer'3vh/
    100% 
    ;
}
.bar{
    grid-template-columns: 1fr 300px;
    background-color: black;
    margin: 20px;
    display: grid;
    align-content: center;
    height: 60px;


    

}
.vid{
    width: 100%;
    height: 50%;
}
.left_header{
    color: rgb(253, 253, 253);
    margin-left: 5px;
}
.right_header{
    display: inline;
    justify-items: end;
    align-items: center;
    padding-right: 0px;


    
}
.right_header ul{
    padding-top: 10px;
    
    
}
nav  li{
    list-style: none;
    color: aliceblue;
     display:inline;
     padding: 10px;
    


    
}
nav li a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
header{
    background-color: rgb(222, 110, 69);
    grid-area: header;
    display: grid;
    position: relative;
    max-width: 100%;

}
.svg-image{
    max-width: 50vh;
    height: 50vh;
    margin: 0px auto;
    position: absolute;
    left: 20px;
     top: 25%;

 


}


.experience{
    background-color: deepskyblue;
    grid-area: experience;
}
footer{
    background-color: black;
    grid-area: footer;
    color: aliceblue;
    text-align: center;
}
.adv{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 16%;
    margin-left:29% ;
    padding: 1%;
    background-color: black;
    width: 50%;
    position: absolute;
    height: 1fr;
    /* height: 250px; */
  }
  
  .adv h2{
    display: grid;
    place-content: center;
    color: gold;
    padding-bottom: 10px;
  }
  
  .adv p{
    padding: 5px;
    color: white;
  }
  b{
    color: #00ffff60;
  }

  main{
      background-color: grey;
  }

.projects{
      display: grid;
      grid-template:
      'maintxt maintxt maintxt' 1fr
      'first second third' auto/
       33.3% 33.3% 33.3%;
       gap: 14px;
       background-color: #ede6e2;
       padding-bottom: 100px;
      padding-right: 100px;
      width: 100%;
      
  }
  .projects_h{
     grid-area: maintxt;
  }
  
.first{
      grid-area: first;
      border: 1px solid black;
      border-radius: 4px;
      padding: 2%;
      margin-left: 30%;
      margin-bottom: 2%px;
      background-color: white;
      text-align: center;
  }
  .first:hover{
    box-shadow: 0px 3px 8px black;
  } 
  .second:hover{
    box-shadow: 0px 3px 8px black;
  }
  .third:hover{
    box-shadow: 0px 3px 8px black;
  }
  
  .gtp h4{
      color: white;
  }
  
.gtp1 h4{
    color: white;

}

.gtp2 h4{
    color: white;

}
  .gtp h5{
      color: rgb(0, 0, 0);
     

  }
  .first .technof{
      padding: 0;
      margin-bottom: 1rem;
      max-width: 400px;
  }

.second{
    grid-area: second;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    margin-left: 150px;
    margin-top: auto;
    background-color: white;
    text-align: center;

}
.third{
    grid-area: third;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    margin-left: 150px;
    background-color: white;
    text-align: center;
}
 .projects a{
    margin-top: 30px;
   
    text-decoration: none;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(234, 34, 34) ;
    width: 100px;
    height: 20px;
    padding-left: 50px;
}
.projects_h {
    text-align: center;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: rgb(226, 105, 5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 20px;
}
footer .back{
    color: #ede6e2;

}
footer a{
    padding-top: 15px;
    text-decoration: none;
}
.projects p{
    text-align: center;
}

.experience{
    grid-area: experience;
    background-color: #5bc3eb;
    
    display: grid;
    gap: 10px;
  }
  .first_row{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 250px;
    background-color: rgb(234, 225, 225);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 180px 1fr 180px;
    text-align: center;
  }
  .first_row:hover{
    box-shadow: 0px 3px 8px black;
  }
  .second_row{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 250px;
    background-color: rgb(234, 225, 225);
  
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 180px 1fr 180px;
    text-align: center;
  }
  .second_row:hover{
    box-shadow: 0px 3px 8px black;
  }
  .third_row{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 250px;
    background-color: rgb(234, 225, 225);
  
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 180px 1fr 180px;
    text-align: center;
  }
  .third_row:hover{
    box-shadow: 0px 3px 8px black;
  }
  .fourth_row{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0px 250px;
    margin-bottom: 50px;
    background-color: rgb(234, 225, 225);
  
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 180px 1fr 180px;
    text-align: center;
  }
  .fourth_row:hover{
    box-shadow: 0px 3px 8px black;
  }
.firstimg{
    width:45px;
    margin: 0 auto;
    padding-top: 10px;

}
.one {
    background: none;
    border: 2px solid rgb(222, 110, 69);
    border-radius: 3px;
    padding: 0.2rem 0.5rem;

}
.one:hover{
    background: rgb(222, 110, 69);
    border: 2px solid rgb(222, 110, 69);

}
.one:active{
    background-color: rgb(175, 93, 64);
}


.two{
    background: none;
    border: 2px solid rgb(222, 110, 69);
    border-radius: 3px;
    padding: 0.2rem 0.5rem;

}
.two:hover{
    background: rgb(222, 110, 69);
    border: 2px solid rgb(222, 110, 69);

}
.two:active{
    background-color: rgb(175, 93, 64);
}


.three{
    background: none;
    border: 2px solid rgb(222, 110, 69);
    border-radius: 3px;
    padding: 0.2rem 0.5rem;

}
.three:hover{
    background: rgb(222, 110, 69);
    border: 2px solid rgb(222, 110, 69);

}
.three:active{
    background-color: rgb(175, 93, 64);
}
.prj1{
    background: none;
    border: 2px solid rgb(222, 110, 69);
    border-radius: 3px;
    color: rgb(250, 232, 225);
    padding: 1% 5% ;
    margin-top: 5%;
    padding-bottom: 3%;
}
.prj1:hover{
    background: rgb(222, 110, 69);
    border: 2px solid rgb(222, 110, 69);

}
.prj1:active{
    background-color: rgb(175, 93, 64);

}




.prj1 a{
    color: black;
}
.prj2 a{
    color: black;
}
.prj3 a{
    color: black;
}

.prj2{
    background: none;
    border: 2px solid rgb(222, 110, 69);
    border-radius: 3px;
    color: rgb(250, 232, 225);
    padding: 1% 5% ;
    padding-bottom: 3%;
    margin-top: 10%;
    margin-bottom: 6%;

}
.prj2:hover{
    background: rgb(222, 110, 69);
    border: 2px solid rgb(222, 110, 69);

}
.prj2:active{
    background-color: rgb(175, 93, 64);

}
.prj3{
    background: none;
    border: 2px solid rgb(222, 110, 69);
    border-radius: 3px;
    color: rgb(250, 232, 225);
    padding: 1% 5% ;
    margin-top: 10%;
    padding-bottom: 3%;

}
.prj3:hover{
    background: rgb(222, 110, 69);
    border: 2px solid rgb(222, 110, 69);

}
.prj3:active{
    background-color: rgb(175, 93, 64);

}
.back{
    background: none;
    border: 2px solid white;
    padding: 0.2rem 2rem;
    border-radius: 3px;
}
.backi{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.back:hover{
    background: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);

}
.backi:hover{
    color:black
}
.back:active{
    background-color: rgb(198, 196, 196);
}





@media screen and(max-width:600px) {

    .adv{
        height: 120px;
    }

}
   